@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary: #4ADE80;
  --secondary: #e88eed;
  --dark:#18181B;
  --light:#F2F2F2;
}

body {
  color: var(--light);
  background: var(--dark);

}
